Source: vesta-ioncube
Package: vesta-ioncube
Priority: optional
Version: 1.0.0-1
Section: admin
Maintainer: Serghey Rodin <skid@vestacp.com>
Homepage: https://www.ioncube.com
Architecture: amd64
Depends: bash, awk, sed, vesta-php
Description: ionCube Loader for Vesta
