$black: #000;

.modal {
  display: block;
  text-align: center;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $black;
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
    background: #333;
    margin: auto;
    border: 1px solid #888;
    width: 25%;
    height: auto;
    color: white;
    margin-top: 100px;

    .modal-body {
      margin-bottom: 40px;

      input {
        background: #333;
        border: 1px solid #111;
        color: white;
        margin-top: 10px;
        width: 85%;
      }
    }

    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
      word-break: break-word;

      h3 {
        color: #EBE697;
      }

      .replace {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .quot {
        color: rgb(182, 120, 28);
      }
    }

    .modal-footer {
      border-top: 1px solid #555;

      button {
        color: white;
        border-color: none;
        background: none;
        text-transform: uppercase;
        font-size: 12px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      button.btn-danger {
        border-color: transparent;

        &:focus {
          outline: none;
          border: none;
        }
      }

      button.btn-danger:hover {
        background: #00cccb;
        border-color: #00cccb;
      }

      button + button {
        padding: 6px 30px;
        background: #CACE33;
        border-color: #CACE33;

        &:hover {
          background: #00cccb;
          border-color: #00cccb;
          color: white;
        }
      }
    }
    
    .header .quot {
      color: rgb(182, 120, 28);
    }

    .close {
      top: 0;
      right: 0;
      color: $black;
    }
  }

  .nothing-selected {
    h3 {
      padding: 15px;
    }

    .modal-footer {
      margin-top: 20px;

      button {
        background: #d9534f;
        border-color: #d9534f;
        color: white;
      }
    }
  }

  .delete .modal-header {
    border-bottom: none;
    padding-bottom: 30px;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  
  .permissions {
    height: auto;
    width: 30%;
    margin-top: 0;
    
    .error, &:focus {
      border: 1px solid red;
    }

    input[type="text"] {
      size: 40px;
      width: 60px;
      margin: auto auto 10px auto;
      display: inline-block;
    }

    .header h3 {
      margin-bottom: 40px;
      font-size: 30px;
    }

    form {
      margin-top: 20px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-left: 40px;

        label {
          display: inherit;
          cursor: pointer;
          font-size: 18px;

          input {
            margin-top: 6px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}