Source: devit-nginx
Package: devit-nginx
Priority: optional
Version: 1.0.0-1
Section: admin
Maintainer: Serghey Rodin <skid@devitcp.com>
Homepage: http://devitcp.com
Architecture: amd64
Depends: devit
Description: devit Nginx
 devit is an open source hosting control panel.
 devit has a clean and focused interface without the clutter.
 devit has the latest of very innovative technologies.

