[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock

[mysqld]
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
basedir=/usr
datadir=/var/lib/mysql
tmpdir=/tmp
lc-messages-dir=/usr/share/mysql
log-error=/var/log/mysql/error.log
#log-warnings=2
skip-name-resolve
skip-external-locking
local-infile=0
symbolic-links=0
long-query-time=1
innodb-file-per-table
query-cache-type=0
query-cache-size=0
open-files-limit=65535

max-connections=50
wait-timeout=10
interactive-timeout=50
connect-timeout=10
max-connect-errors=1000000
thread-cache-size=50
table-open-cache=5120
table-definition-cache=2048
max-allowed-packet=16M
tmp-table-size=16M
max-heap-table-size=16M
key-buffer-size=8M
innodb-buffer-pool-size=64M
innodb-buffer-pool-instances=1
innodb-log-file-size=16M
innodb-log-buffer-size=4M
innodb-flush-log-at-trx-commit=2

!includedir /etc/mysql/conf.d/
