$whiteBackground: #ececec;
$primary: #2c54ac;
$primaryLight: #d7dcef;
$primaryActive: #1e5cb2;
$secondary: #fcac04;
$secondaryLight: #f8b014;
$secondaryActive: #fdb51c;
$hoverButtonText: #2c54ac;
$activeButtonText: #fff;
$textColor: #555;

.menu {
  display: flex;
  background: #f8f9fa;
  height: 40px;

  .logo {
    width: 7rem;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 82%;
    }
  }

  .btn-group {
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 17px;
    border-radius: 0;
    background: #F8F9FA;
  
    .small {
      display: none;
    }
  
    #upload {
      line-height: 0;
      margin-top: 7px;
      margin-bottom: 7px;
      padding-top: 8px;
      padding-bottom: 7px;
      margin-left: 2px;
      color: white;
      border-radius: 4px;
      background: $primary;
    
      &:hover {
        color: $primary;
        background: $primaryLight;
      }
    }
  
    button {
      text-transform: uppercase;
      font-size: 12px;
      margin: 2px;
      padding-top: 11px;
      padding-bottom: 12px;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 25px;
      text-align: center;
  
      &:hover {
        color: $primary;
      }
  
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  
    .btn-hidden {
      display: none;
    }
  
    .upload {
      display: none;
    }
  
    .delete:hover{
      color: rgb(221, 57, 57);
    }
  }
}

@media screen and (max-width: 1200px){
  .menu .btn-group {
    .small {
      font-size: 18px;
      padding-top: 8px;
      display: inline-block;
    }

    .icon {
      color: #777;
    }

    .small {
      &:hover {
        .file, .folder-close, .download, .copy {
          color: $primary;
        }

        .italic, .user, .paste {
          color: $primary;
        }

        .trash {
          color: rgb(221, 57, 57);
        }

        .book {
          color: $primary;
        }
      }
    }
  }

  .big {
    display: none;
  }
}