div.modal {
  z-index: 2;
}

div.content .modal .modal-content {
  width: 75%;

  .modal-header button.close {
    color: white;
  }

  .modal-footer {
    .btn-primary {
      background: #9FBF0C;
      border: 1px solid #9FBF0C;
    }
  }
}
