.content .edit-template.edit-mysql {
  .toolbar {
    .search-toolbar-name {
      width: max-content;
    }
  }

  textarea {
    width: 75%;
  }

  .checkbox-wrapper label {
    text-transform: capitalize;
  }

  svg {
    margin-left: 5px;
  }
}