$whiteBackground: #ececec;
$primary: #2c54ac;
$primaryLight: #d7dcef;
$primaryActive: #1e5cb2;
$secondary: #fcac04;
$secondaryLight: #f8b014;
$danger: #b00e5b;
$secondaryActive: #fdb51c;
$hoverButtonText: #2c54ac;
$activeButtonText: #fff;
$textColor: #555;

.content {
  padding: 0 13%;
  padding-bottom: 1%;
  margin-top: 5px;

  > div > div.total {
    margin-top: 25px;
    margin-left: 14%;
    font-size: 12px;
    color: #929292;
  }
}

@media (max-width: 1350px) {
  .content {
    padding: 0 10%;
  }
}

@media (max-width: 1000px) {
  .content {
    padding: 5%;
  }
}

@media (max-width: 800px) {
  .content {
    padding-top: 5%;
  }
}

.fixed-buttons {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background: #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      color: $hoverButtonText;
      background: $primaryLight;
    }
  
    &:active {
      color: $activeButtonText;
      background: $primaryActive;
    }
  
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: scale(1.32);
  
      svg {
        color: white;
        height: 70%;
      }
    }
  }

  > div:first-child {
    color: #c3c3c3;
    background: none;

    &:hover {
      background: $primaryLight;

      button svg {
        color: $activeButtonText;
      }
    }

    &:active {
      color: $activeButtonText;
      background: $primaryActive;
    }

    button {
      padding: 0;

      svg {
        color: #c3c3c3;
      }
    }
  }
}
