.App {
  font-size: 25px;
  font-family: Arial;
}

.window {
  background: #ececec;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .lists-container {
    display: flex;
    flex-direction: row;
  }
}

.active {
  background: #fff;
}

.progress {
  height: 10px;
  transition: all ease-out 0.1s;
}

.Toastify__toast-body {
  font-size: 20px;
  word-break: break-word;
}
.Toastify__toast-container {
  top: 15em;
}